/* .site-header.layout--default .main-header.order--social-logo-buttons .site-branding {
    display: flex;
    align-items: center;
} */

:root {
    --color-root: #031588;
    --color-highlight: #C1F6FF;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --theme-block-top-border-height: 0;
}

.site-branding .site-title a {
    font-size: 2.5em;
}

body,
td,
.main-navigation .menu li a,
.main-navigation .nav.menu li a {
    font-family: var(--menu-family);
    font-family: "Mulish", sans-serif;
}

#page {
    border-top: .75em solid var(--color-root);
}

.fas.fa-search,
.mode_toggle {
    color: #fff;
}

.home-boxes {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: .75em 0;
    align-items: center;
}

.home-boxes>div {
    display: block;
    font-size: .85em;
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    flex-basis: 30%;
    border: .25em #7a7a7a solid;
    text-align: left;
    border-radius: .2em;
    border-width: 0;
}

.home-boxes>div .padding {
    padding: 0;
}

.home-boxes h4 {
    margin: 0;
    line-height: 1;
}

.newsmatic_main_body #masthead.site-header.layout--default .menu-section {
    background-color: var(--color-root);
}

.home-boxes h4 a {
    font-size: 1.5em;
    color: #fff;
    background-color: var(--color-root);
    padding: .25em .5em;
    display: block;
    text-decoration: none;
}

.home-boxes h4 a:hover {
    color: var(--color-highlight);
}

.home-boxes ul {
    margin: 0;
    padding: 0;
}

.home-boxes ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.home-boxes ul li a {
    text-decoration: none;
    display: block;
    border-top: 1px #999 solid;
    color: #555;
    padding: .25em 1em;
    background-color: #fff;
    font-weight: bold;
}

.home-boxes ul li a:hover {
    background-color: var(--color-highlight);
    color: #000;
}


.main-navigation ul.nav-menu ul li.current_page_item a,
.main-navigation ul.nav-menu ul li a:hover {
    color: var(--color-root);
}


body .site-branding img.custom-logo {
    width: 700px;
}

#masthead #newsmatic_menu_burger span {
    background-color: #fff;
}

.site-header.layout--default .main-header .site-branding-section .row {
    display: block;
}


#masthead img {
    min-width: 263px !important;
    height: auto;
}

table.stripes thead tr {
    background-color: var(--color-root);
    color: #fff;
    font-weight: bold;
}

table.stripes tbody tr:nth-child(even) {
    background-color: #efefef;
}

table.stripes tbody tr:hover {
    background-color: var(--color-highlight);
}

table.stripes a {
    text-decoration: none;
}

table.stripes a:hover {
    text-decoration: underline;
}

.mode_toggle_wrap {
    display: none;
}

.officials-table {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;

}

.officials-table:has(> div:nth-child(5)) {
    justify-content: left;
}

.officials-table>div {
    flex: 0 0 31%;
    text-align: center;
    font-size: .9em;
}

.officials-table-wrap h2 {
    color: var(--color-root);
    font-size: 1.75em;
    border-bottom: 1px solid var(--color-root);
}

.officials-table-wrap:not(:first-of-type) h2 {
    margin-top: 2em;
}

.officials-table-wrap.narberth-borough .officials-table>div,
.officials-table-wrap.county-row-officers .officials-table>div,
.officials-table-wrap.lower-merion-township .officials-table>div,
.officials-table-wrap.lower-merion-school-board .officials-table>div {
    flex: 0 0 18%;
}

.officials-table>div img {
    display: block;
    margin: 0 auto;
}

.officials-table>div a {
    color: #000;
    text-decoration: none;
}

.officials-table>div a:hover {
    color: var(--color-root);
}

.button-group {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button-group-large {
    justify-content: space-between;
}

.button.big,
.button-group a,
.wp-block-search__button,
.widget.widget_search .search-submit {
    display: inline-block;
    background-color: var(--color-root);
    border: 2px solid var(--color-root);
    padding: .5em 1em;
    font-size: 1.25em;
    color: var(--color-white);
    text-decoration: none;
    flex-basis: auto;
    text-align: center;
    font-weight: bold;
    border-radius: .25em;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.button-group-large a {
    padding: .75em 1.5em;
    font-size: 1.5em;
    flex-basis: 47%;
}

.button.donate {
    background-color: var(--color-red);
    border: 2px solid var(--color-red);
    color: #fff;
}

.button-group a.current,
.button-group a:active,
.button-group a.current:active,
.button-group a:hover,
.button-group a.current:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, .75);
    background-color: var(--color-highlight);
    border-color: var(--color-root);
    color: var(--color-root);
    box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.button.donate:hover {
    color: var(--color-red);
    background-color: var(--white-red);
    border: 2px solid var(--color-red);
}

.wp-block-search__button, .widget.widget_search .search-submit {
    font-size: .75em;
    padding: .25em .25em;
}

.button-group.button-group-elected-officials a {
    flex-basis: 100%;
    text-align: left;
}

.election-dates li {
    margin-bottom: .5em;
}

.election-dates .special-date {
    color: var(--color-root);
    font-size: 1.25em;
    font-weight: bold;
}

body.page.page-id-1044.right-sidebar #theme-content .row .primary-content {
    max-width: 100%;
    flex: 0 1 100%;
}

.page.page-id-1044 .secondary-sidebar {
    display: none;
}

.table-wrap .table-wrap-flex {
    display: flex;
    flex-wrap: wrap;
}


.table-wrap .table-wrap-flex>div.table-wrap-item {
    flex-basis: 1;
}

.widget-area .wp-block-pullquote {
    padding: 1em 0;
}

.dclmn-mobile-header {
    display: none;
    padding: 0 1em 1em 1em;
}

.main-navigation.toggled .dclmn-mobile-header {
    display: block;
}

.dclmn-mobile-header img {
    width: 260px;
}

.dclmn-mobile-header-open {
    display: none;
}

.dclmn-mobile-header-open span,
.dclmn-mobile-header-close span {
    float: right;
    padding: .25em;
    color: var(--color-white);
    background-color: var(--color-root);
    border: 1px solid var(--color-root);
    line-height: 0.75em;
    margin-top: 1em;
    font-size: 1.25em;
    cursor: pointer;
    /* width: 1.75em; */
    width: 82px;
    height: 1.75em;
    text-align: center;
    line-height: 1.1em;
    z-index: 9999;
}

.dclmn-mobile-header-open span:hover,
.dclmn-mobile-header-close span {
    border-color: var(--color-highlight);
    background-color: var(--color-highlight);
    color: var(--color-root);
}

.subscribe-note {
    font-size: .75em;
    font-style: italic;
    margin: 0 1.5em;
}

.footer-widget .widget.widget_nav_menu ul li:before,
.footer-widget .widget.widget_nav_menu ol li:before {
    color: var(--color-highlight)
}