@media (max-width: 1300px) {

    .officials-table-wrap.narberth-borough .officials-table>div,
    .officials-table-wrap.county-row-officers .officials-table>div,
    .officials-table-wrap.lower-merion-township .officials-table>div,
    .officials-table-wrap.lower-merion-school-board .officials-table>div {
        flex: 0 0 23%;
    }

    .main-navigation .menu li a,
    .main-navigation .nav.menu li a {
        padding: 15px 20px;
    }
}

@media (max-width: 1100px) {

    .officials-table-wrap.narberth-borough .officials-table>div,
    .officials-table-wrap.county-row-officers .officials-table>div,
    .officials-table-wrap.lower-merion-township .officials-table>div,
    .officials-table-wrap.lower-merion-school-board .officials-table>div {
        flex: 0 0 30%;
    }

    .main-navigation .menu li a,
    .main-navigation .nav.menu li a {
        padding: 15px 10px;
        transition-duration: 0s;
    }
}

@media (max-width: 1000px) {

    .main-navigation .menu li a,
    .main-navigation .nav.menu li a {
        padding: 15px 10px;
        font-size: 14px;
    }
}

@media (max-width: 869px) {
    body.menu-open #site-navigation {
        display: none;
    }

    .main-header .newsmatic-container {
        max-width: 96%;
        padding: 0;
        box-sizing: border-box;
    }

    .home-boxes {
        flex-wrap: wrap;
        gap: .5em;
    }

    .home-boxes>div {
        flex-basis: 48%
    }
}

@media (max-width: 795px) {

    .main-navigation .menu li a,
    .main-navigation .nav.menu li a {
        padding: 15px 0px;
    }
}


@media (max-width: 785px) {
    .main-navigation .menu li a {
        padding: 15px 12px;
        font-size: 12px;
    }
}

/* .site-branding-section {
    display: none;
} */

@media (max-width: 769px) {

    nav.main-navigation ul.menu,
    nav.main-navigation ul.nav-menu {
        background-color: var(--color-root);
    }

    #masthead nav.main-navigation ul.menu li a,
    #masthead nav.main-navigation ul.nav-menu li a {
        color: var(--color-highlight);
    }

    .officials-table>div {
        flex: 0 0 47%;
        text-align: center;
        font-size: 1em;
    }

    .button-group a {
        flex-basis: 100%;
    }

    .button-group br {
        display: none;
    }

    /*  */
    #masthead .newsmatic-container {
        padding-left: .5em;
        padding-right: .5em;
    }

    .menu-menu-1-container {
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        height: 0;
        padding-top: 50px;
        display: none;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .main-navigation.toggled .menu-menu-1-container {
        display: block;
        border-top: .75em solid var(--color-root);
        padding-top: 1em;
    }

    .officials-table-wrap.narberth-borough .officials-table>div,
    .officials-table-wrap.county-row-officers .officials-table>div,
    .officials-table-wrap.lower-merion-township .officials-table>div,
    .officials-table-wrap.lower-merion-school-board .officials-table>div {
        flex: 0 0 48%;
    }

    #sb_instagram #sbi_images .sbi_item:nth-child(n+7) {
        display: none;
    }

    .quotes-page {
        display: block;
        font-size: .75em;
        margin-top: 1em;
    }

    .quotes-page-quotes {
        margin-bottom: 2em;
    }

    .quotes-page .wp-block-pullquote {
        border-top-width: 0;
        border-bottom: 2px solid var(--color-root);
        text-align: left;
    }

    .quotes-page .wp-block-pullquote:nth-child(even) {
        background-color: var(--color-light-gray);
    }

    /* #header-menu {
        position: fixed;
        height: 100%;
        top: 0;
        padding-top: 70px;
    } */

    /* #site-navigation {
        height: 1em;
    } */

    /* #site-navigation .menu-toggle {
        display: none;
    } */

}

@media (max-width: 680px) {
    #masthead img {
        min-width: 240px !important;
        height: auto;
    }
}

@media (max-width: 600px) {
    .officials-table>div {
        flex: 0 0 100%;
        text-align: center;
    }

    .dclmn-events .dclmn-event .event-time {
        display: block;
    }
}

@media (max-width: 550px) {
    .page .primary-content .post-inner-wrapper {
        padding: 0 .5em;
    }

    .home-boxes {
        flex-wrap: wrap;
        gap: .25em;
    }

    .home-boxes>div:not(first-of-type) {
        margin-bottom: .5em;
        flex-basis: 32%;
    }

    .home-boxes>div:first-of-type {
        flex-basis: 100%;
        font-size: 1em;
    }

    .home-boxes>div:not(first-of-type) h4 a {
        border: 1px solid var(--color-root);
        font-size: 1.25em;
        padding: .5em;
        box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .home-boxes>div:not(first-of-type) h4 a:hover,
    .home-boxes>div:not(first-of-type) h4 a:active {
        border-color: var(--color-root);
        background-color: var(--color-highlight);
        color: var(--color-root);
    }


    .home-boxes>div ul {
        display: none;
    }

    /* .button-group .button.big.donate,
    .button.big {
        width: 100%;
        text-align: left;
        margin-bottom: .25em;
        flex-basis: 100%;
    } */

    .main-header {
        padding-left: .5em;
        padding-right: .5em;
    }

    #site-navigation {
        display: none;
    }

    .dclmn-mobile-header-open {
        display: inline-block;
        position: absolute;
        right: 0.5em;
    }

    /* #masthead img {
        width: 100%;
        height: auto !important;
    } */

    #main-banner-section {
        padding-top: 0;
    }

    header.site-header {
        padding-bottom: 0;
    }

    body.menu-open .home-boxes {
        display: none;
    }

    body.menu-open .main-navigation.toggled .menu-menu-1-container {
        padding-top: 0;
    }

    .dclmn-mobile-header {
        padding: .5em;
        margin-top: 4px;
    }

    #masthead img {
        min-width: unset !important;
        max-height: none !important;
        height: 152px !important;

    }

    .officials-table-wrap h2 {
        text-align: center;
    }

    .officials-table-wrap.narberth-borough .officials-table>div,
    .officials-table-wrap.county-row-officers .officials-table>div,
    .officials-table-wrap.lower-merion-township .officials-table>div,
    .officials-table-wrap.lower-merion-school-board .officials-table>div {
        flex: 0 0 100%;
    }

    /* Data table adjustments */
    .stripes thead {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    .stripes tr {
        border-top: 2px solid var(--color-root);
    }

    .stripes,
    .stripes tbody,
    .stripes tr,
    .stripes td {
        display: block;
        width: 100%;
    }

    .stripes tr {
        display: flex;
        flex-direction: column;
    }

    .stripes td {
        display: block;
    }

    .stripes td.precinct,
    .stripes td.position {
        font-size: 1.25em;
        font-weight: bold;
    }

    .stripes td.position {
        font-size: 1em;
    }

    /* display the  */
    .stripes td[data-label]::before {
        display: inline-block;
        content: attr(data-label);
        font-weight: 800;
        font-size: .75em;
        margin-right: .5em;
    }

    .stripes td[data-label="Committee People"] {
        line-height: 1.75;
        margin-bottom: .25em;
    }

    .stripes td[data-label="Polling Place"]::before,
    .stripes td[data-label="Committee People"]::before {
        display: block;
    }

    /* reorder the columns */
    .stripes.committee-people td:nth-child(3) {
        order: 4;
    }

    .stripes.committee-people td:nth-child(4) {
        order: 3;
    }

    table.stripes tbody tr:hover {
        background-color: var(--color-white);
    }

    table.stripes tbody tr:nth-child(even):hover {
        background-color: #efefef;
    }

    .button-group a,
    .wp-block-search__button,
    .widget.widget_search .search-submit {
        font-size: 1em;
    }

    .banner-layout--four .main-banner-block-posts.banner-trailing-posts {
        display: none;
    }

    .quotes-page .wp-block-pullquote {
        font-size: 1.5em;
    }

    .dclmn-events {
        padding: .5em .5em;
    }

    .banner-layout--four .main-banner-wrap .slick-list article,
    .banner-layout--four .main-banner-wrap .slick-list .post-thumb {
        height: 300px;
    }

    .banner-layout--four .main-banner-wrap .slick-list article .event-time,
    .banner-layout--four .main-banner-wrap .slick-list .post-thumb .event-time {
        display: none;
    }

    .banner-layout--four .main-banner-wrap .slick-list article .post-element a {
        font-size: ;
    }
    
    .entry-content ul,
    .entry-content ol {
        padding-left: 1.25em;
    }
}

/* 550px */


@media (max-width: 396px) {

    .banner-layout--four .main-banner-wrap .slick-list article,
    .banner-layout--four .main-banner-wrap .slick-list .post-thumb {
        height: 250px;
    }
}


@media (max-width: 380px) {
    .home-boxes>div:not(first-of-type) h4 a {
        font-size: 1em;
    }

    #masthead img {
        width: 180px;
        height: auto !important;
    }
}